{% extends "base.html" %}

{% block extrahead %}
    <meta property="og:title" content="{{ page.title | default(config.site_name) }}">
    <meta property="og:type" content="article">
    {% if page and page.meta and page.meta.description %}
        <meta property="og:description" content="{{ page.meta.description }}">
    {% endif %}
    {% if page and page.meta and page.meta.banner and page.meta.banner.startswith("![[") and page.meta.banner.endswith("]]") %}
        {% set extracted_filename = page.meta.banner[3:-2] %}
        <meta property="og:image" content="{{ config.site_url ~ '/images/' ~ extracted_filename }}">
    {% elif page and page.meta and page.meta.image %}
        {% if page.meta.image.startswith("http") %}
            <meta property="og:image" content="{{ page.meta.image }}">
        {% else %}
            <meta property="og:image" content="{{ config.site_url ~ page.meta.image }}">
        {% endif %}
    {% else %}
        <meta property="og:image" content="{{ config.site_url }}/default-image.jpg">
    {% endif %}
    <meta property="og:url" content="{{ page.canonical_url | default(config.site_url) }}">
    <meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block content %}
    {{ super() }}

    {% if page and page.meta and page.meta.ccard %}
        {% set folder_path = nav.homepage.url + page.url.rsplit('/', 2)[0] + '/' %}
        {{ folder_path }}
        <div class="grid cards" markdown>
        {% for child in nav.pages if child.url.startswith(folder_path) and child.url != page.url %}
        -   ![{{ child.title }}]({{ child.meta.banner | default('default-image.jpg') }}){ .lg }
            
            **[{{ child.title }}]({{ child.url }})**
            
            ---

            {{ child.meta.description }}
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}