{% extends "base.html" %}

{% block extrahead %}
    <meta property="og:title" content="{{ page.title | default(config.site_name) }}">
    <meta property="og:type" content="article">
    {% if page.metadata.description %}
        <meta property="og:description" content="{{ page.metadata.description }}">
    {% endif %}
    {% if page.metadata.banner and page.metadata.banner.startswith("![[") and page.metadata.banner.endswith("]]") %}
        {% set extracted_filename = page.metadata.banner[3:-2] %}
        <meta property="og:image" content="{{ config.site_url ~ '/images/' ~ extracted_filename }}">
    {% elif page.metadata.image %}
        {% if page.metadata.image.startswith("http") %}
            <meta property="og:image" content="{{ page.metadata.image }}">
        {% else %}
            <meta property="og:image" content="{{ config.site_url ~ page.metadata.image }}">
        {% endif %}
    {% else %}
        <meta property="og:image" content="{{ config.site_url }}/default-image.jpg">
    {% endif %}
    <meta property="og:url" content="{{ page.canonical_url | default(config.site_url) }}">
    <meta name="twitter:card" content="summary_large_image">
{% endblock %}